<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Youtube Clip Looper</title>
        <script src="popup.js"></script>
    </head>
    <body>
        <h1 id="title"></h1>
        <p id="description"></p>
        <!-- <div class="time-row">
            <div class="left-column">
              <input id="start_time" class="generic-input" placeholder="Start Time" />
            </div>
            <div class="right-column">
                <input id="end_time" class="generic-input" placeholder="End Time" />
            </div>
          </div> -->

    </body>
</html>
